.confirm {
    &__text {
        line-height: 1.3;
    }
    &__row {
        width: 100%;
        justify-content: center;
    }
    &__table-sheet {
        width: 100%;
    }
}

@media (min-width:$md4+px){
    .confirm {
        &__text {
            font-size: rem(16px);
        }
        &__table-sheet {
            padding: rem(20px) rem(30px);
            background-color: $fourthColor !important;
        }
    }
}