.error-page {
  background: #000;
  &__title {
    text-align: center;
  }
  &__row {
    justify-content: center;
  }
  &__text {
    text-align: center;
    line-height: 1.3;
  }
  &__table-sheet {
    width: 100%;
  }
}

@media (min-width:$md4+px){
  .error-page {
    &__text {
      font-size: rem(16px);
    }
    &__table-sheet {
      padding: rem(20px) rem(30px);
      background-color: $fourthColor !important;
    }
  }
}
