.exchange {
    &__tab-head {
        background-color: $fourthColor;
        z-index: $above;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 84px;
    }
    &__tab-head-row {
        width: 100%;
    }
    &__tab-btn {
        box-shadow: none;
        z-index: $base;
    }
    &__tab-title {
        font-size: rem(20px);
    }
    &__tab-col {
        z-index: $above;
    }
}

.exchange-tab {
    &__search {
        width: 100%;
    }
    &__content {
        max-width: 750px;
    }
    &__content-row {
        justify-content: center;
    }
}

.exchange-steps {
    position: relative;
    z-index: $above;
}

.currency-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__item {
        width: 100%;
    }
    &__btn {
        width: 100%;
        margin-bottom: 15px;
    }
    &__group {
        width: 100%;
    }
    &__title {
        flex: 1 1 auto;
        margin-bottom: rem(10px);
    }
    &__title-mobile {
        margin-bottom: rem(10px);
        text-align: center;
    }
}

.exchange-data {
    width: 100%;
    z-index: $above;
    background-color: rgba(48,193,255,0.55);
    border-radius: 5px;
    &__wrapper {
        padding: 24px;
    }
    &__title {
        color: $secondColor;
        margin-bottom: 15px;
    }
    &__text-field {
        margin-bottom: 10px;
        //color: $secondColor;
        //.v-text-field__suffix__text {
        //    color: $secondColor;
        //}
    }
    &__checkbox {
        label {
            font-size: 12px !important;
            color: $secondColor;
        }
        a {
            color: $secondColor;
            text-decoration: underline;
        }
        i {
            color: $secondColor;
        }
    }
    &__submit {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        button {
            background-color: $fourthColor;
            color: $secondColor;
        }
    }
}

.exchange-desktop {
    &__title {
        margin-bottom: 30px;
    }

    &__col {
        z-index: $above;
    }
}

@media screen and (min-width: $md2+px){
    .exchange {
        &__tabs {
            max-width: 750px;
            margin: 0 auto;
        }
        &__tab-head-row {
            max-width: 750px;
            padding: 0 20px;
        }
        &__tab-btn {
            width: 120px;
        }
    }
    .exchange-tab {
        &__search {
            padding: 20px;
        }
    }
    .currency-list {
        &__item {
            button {
                padding-left: 50px;
            }
        }
    }
}

@media screen and (min-width:$md3+px){
    .exchange {
        &__tab-head-row {
            
        }
    }
    .exchange-tab {
        &__content.v-container {
            max-width: 900px;
        }
    }
}

@media screen and (min-width:$md4+px){
    .currency-list {
        &__item {
            button {
                padding-left: 20px;
            }
        }
    }
}

@media (min-width:$md1+px){
    .exchange-desktop {
        display: none;
    }
}

@media (min-width:$md4+px){
    .exchange-desktop {
        display: block;
    }
    .exchange-mobile {
        display: none;
    }
}